* { box-sizing: border-box; }
@font-face {
font-family: 'Courier Prime', monospace;
font-style: normal;
font-weight: 150;
src: url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
}

body {
    background-color: #f5f6f7;
    color: #1b2027;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Courier Prime', monospace;
    line-height: 1.5;
}

a {
    color: #ff8001;
    text-decoration: none;
}

a:hover {
    color: #40bcf4;
}

.navbar {
    background-color: #40bcf4;
    color: #1b2027;
    padding-left: 20px;
    position: sticky;
    top: 0;
    z-index: 100; /* Adjust the z-index as needed */
}

.footer {
    background-color: #baccdc;
    color: #1b2027;
}

h1, h2 {
    color: #1b2027;
}

/* Dark Mode */
body.dark-mode {
    background-color: #1b2027;
    color: #f5f6f7;
}

body.dark-mode a {
    color: #00e054;
}

body.dark-mode a:hover {
    color: #ff8001;
}

.dark-mode .navbar {
    /* background-color: #bed4eb; */
    /* color: #f5f6f7; */
    color: #323232;
    /* color: #baccdc; */
    background-color:#baccdc;
}

.footer.dark-mode {
    background-color: #8090a0;
    color: #f5f6f7;
}

h1, h2, h3 {
    color: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
}

num {
    color: #ff8001;
}

.dark-mode num{
    color:#00e054;
}

.light-mode {
    background-color: #f5f6f7;
    color: #1b2027;
}

.dark-mode {
    background-color: #1b2027;
    color: #f5f6f7;
}

/* Add additional styles for the input boxes and button as needed */
.input-group {
    margin-bottom: 10px;
}

.listy{
    text-align: left;
}

.fun-btn {
    background-color: #40bcf4;
    margin-bottom: 10px;
}

.light-mode .fun-btn {
    outline: none !important;
    box-shadow: none !important;
    background-color: #40bcf4;
    margin-bottom: 10px;
    color: black; /* Add a color for text in light mode */
}

.dark-mode .fun-btn {
    outline: none !important;
    box-shadow: none !important;
    background-color: #1a1a1a;
    margin-bottom: 10px;
    color: white; /* Add a color for text in dark mode */
}

.light-mode .fun-btn:hover {
    outline: none !important;
    box-shadow: none !important;
    background-color: #ff8001;
    margin-bottom: 10px;
    color: black; /* Add a color for text in light mode */
}

.dark-mode .fun-btn:hover {
    outline: none !important;
    box-shadow: none !important;
    background-color: #00e054;
    margin-bottom: 10px;
    color: white; /* Add a color for text in dark mode */
}

.navtitle{
    color: #000000;
}

.dark-mode .navtitle{
    color: #000000;
}

.navtitle:hover{
    color: #fff;
}

.dark-mode .navtitle:hover{
    color: #fff;
}